<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.WpfToolkit.DataVisualization" version="6.0.85" targetFramework="net461" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net461" />
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net461" />
</packages>